Repository neuroglia-io/cloud-streams, pull requests merged in 2025-02, with the labels that each got.

#83 Fix the `SubscriptionHandler` service
  deployments/docker-compose/config/subscriptions/all.yaml
  deployments/docker-compose/docker-compose.dcproj
  deployments/docker-compose/docker-compose.yml
  src/broker/CloudStreams.Broker.Application/Services/SubscriptionHandler.cs
Labels: bug, weight: 3, priority: high, broker

#84 Refresh editor panel with updated resource in the Dashboard
  src/dashboard/CloudStreams.Dashboard/Components/ResourceEditor/ResourceEditor.razor
Labels: bug, weight: 1, priority: high

#86 Fixes a critical issue with `IEventRecord` offset and position
  deployments/docker-compose/docker-compose.yml
  src/broker/CloudStreams.Broker.Api/CloudStreams.Broker.Api.csproj
  src/broker/CloudStreams.Broker.Application/CloudStreams.Broker.Application.csproj
  src/broker/CloudStreams.Broker.Application/Services/SubscriptionHandler.cs
  src/core/CloudStreams.Core.Api/CloudStreams.Core.Api.csproj
  src/core/CloudStreams.Core.Application/CloudStreams.Core.Application.csproj
  src/core/CloudStreams.Core/CloudStreams.Core.csproj
  src/dashboard/CloudStreams.Dashboard/CloudStreams.Dashboard.csproj
  src/gateway/CloudStreams.Gateway.Api/CloudStreams.Gateway.Api.csproj
  src/gateway/CloudStreams.Gateway.Application/CloudStreams.Gateway.Application.csproj
Labels: bug, weight: 2, priority: high, broker

#94 Add a new endpoint to the `SubscriptionsController`, used to export a `Subscription`
  deployments/docker-compose/docker-compose.yml
  src/core/CloudStreams.Core.Api/ClusterResourceApiController.cs
  src/core/CloudStreams.Core.Api/Controllers/SubscriptionsController.cs
  src/core/CloudStreams.Core.Application/Commands/Subscriptions/ExportSubscriptionCommand.cs
Labels: enhancement, weight: 1, priority: normal, api

#95 Add subscriber status next to its URL in the Dashboard subscriptions list
  src/dashboard/CloudStreams.Dashboard/Pages/Subscriptions/List/View.razor
Labels: enhancement, weight: 1, priority: low, dashboard

#96 Improve events auto-refresh in the Dashboard
  src/dashboard/CloudStreams.Dashboard.StateManagement/ComponentStore.cs
  src/dashboard/CloudStreams.Dashboard/Components/AutoRefreshForm/AutoRefreshForm.razor
  src/dashboard/CloudStreams.Dashboard/Components/ReadOptionsForm/ReadOptionsForm.razor
  src/dashboard/CloudStreams.Dashboard/Components/ReadOptionsForm/Store.cs
  src/dashboard/CloudStreams.Dashboard/Components/Timeline/Store.cs
  src/dashboard/CloudStreams.Dashboard/Components/Timeline/Timeline.razor
  src/dashboard/CloudStreams.Dashboard/Pages/CloudEvents/List/Store.cs
  src/dashboard/CloudStreams.Dashboard/Pages/CloudEvents/List/View.razor
  src/dashboard/CloudStreams.Dashboard/Refresher.cs
  src/dashboard/CloudStreams.Dashboard/StatefulComponent.cs
Labels: bug, enhancement, weight: 2, priority: normal, dashboard

#97 Add multiple improvements in the Dashboard: search resources, export subscriptions, contextual menus
  src/dashboard/CloudStreams.Dashboard/CheckboxState.cs
  src/dashboard/CloudStreams.Dashboard/Components/ResourceManagement/ResourceManagementComponent.cs
  src/dashboard/CloudStreams.Dashboard/Components/ResourceManagement/ResourceManagementComponentState.cs
  src/dashboard/CloudStreams.Dashboard/Components/ResourceManagement/ResourceManagementComponentStore.cs
  src/dashboard/CloudStreams.Dashboard/Pages/Brokers/List/View.razor
  src/dashboard/CloudStreams.Dashboard/Pages/Gateways/List/View.razor
  src/dashboard/CloudStreams.Dashboard/Pages/Subscriptions/List/View.razor
  src/dashboard/CloudStreams.Dashboard/Program.cs
  src/dashboard/CloudStreams.Dashboard/Services/CommonJsInterop.cs
  src/dashboard/CloudStreams.Dashboard/wwwroot/js/common-interop.js
Labels: enhancement, weight: 2, priority: normal, dashboard

#98 Fix the display of CloudEvents source by using the URI's original string instead of its string representation
  src/dashboard/CloudStreams.Dashboard/Components/Timeline/TimelineCloudEventDetails.razor
  src/dashboard/CloudStreams.Dashboard/Pages/CloudEvents/List/View.razor
Labels: weight: 1, priority: low, dashboard, fix

#100 Add `CODEOWNERS`, `CONTRIBUTING.md` and `SECURITY.md` to meet GH community standards
  .github/workflows/build-dotnet.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test-dotnet.yml
  .github/workflows/versioning.yml
  CODEOWNERS
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CloudStreams.sln
  README.md
  SECURITY.md
Labels: documentation, enhancement
